
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DKTC</title>
</head>
<body>
    <div> 
        <h1 style="text-align:center">Chúc mừng bạn đăng ký thành công!</h1>
        <a style="text-align:center; font-size:20px" href="@Url.Action("Index","Home")">Về trang chủ</a>
    </div>
</body>
</html>
